html,
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
	overflow-y: visible;
    cursor: url("../../public/assets/cursor/normalLight.cur"), auto;
    background: #14110F;
}
button{
	cursor: url("../../public/assets/cursor/linkLight.cur"), auto;
}

@font-face {
	font-family: "redhat";
	/* obtained from https://fonts.google.com/specimen/Red+Hat+Display */
	src: url('../../public/assets/fonts/RedHatDisplay-VariableFont_wght.ttf') format("truetype");
}

@font-face {
	font-family: "pixel";
	/* obtained from https://www.dafont.com/pixel-operator.font */
	src: url(../../public/assets/fonts/PixelOperator.ttf) format("truetype");
}

@font-face {
	font-family: "pixelHeader";
	/* obtained from https://fonts.google.com/specimen/Jersey+25 */
	src: url(../../public/assets/fonts/Jersey25-Regular.ttf) format("truetype");
}

p.redhatBody {
	font-family: "redhat";
	/* TEMPORARY-ASSET-BELOW - DETERMINE COLOUR LATER */
	color:#E0D3DE;
	position:relative;
}

a:visited {
	/* TEMPORARY-ASSET-BELOW - DETERMINE COLOUR LATER */
	color: #B9D996;
}

a.pixelEm { 
	font-family: "pixel", Verdana, Tahoma;
	/* TEMPORARY-ASSET-BELOW - DETERMINE COLOUR LATER */
	color: #B9D996;
}

p.pixelH { 
	font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 32px;
	/* TEMPORARY-ASSET-BELOW - DETERMINE COLOUR LATER */
	color: #81559B;
	position:relative;
}

.command{ 
	color: white;
	text-align: left;
	height: auto;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.terminal-input{
	background: black;
	/* background: white; */
	width: 100%;
	border: none;
	color: #E0D3DE;
	font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 20px;
	text-wrap: wrap; 
	cursor: url("../../public/assets/cursor/textLight.cur"), auto;
}
.terminal-input:focus{
	outline:none;
}
.blinking-cursor{
	content: "";
	width: 8px;
	height: 15px; 
	margin-left: 1px;
	background: #E0D3DE;
	display: inline-block;
	animation: cursor-blink2 1.5s steps(1) infinite;
}
.user-input{
	/* display: inline; */
	/* display: inline-flex; */
	height:20px;
	color: #E0D3DE;
	vertical-align: middle;
	display: inline-block;
}
p.pixelCons {
	font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 18px;
	color: #81559B;
	/* text-align: left;  */
}
p.pixelCons-dark{
	font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 18px;
	color: #14110F;
	text-align: left; 
}
a.pixelCode {
	font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 20px;
	color: #E0D3DE;
	text-align: left;
	filter: drop-shadow(0px 0px 10px #E0D3DE);
}
.console {
	background-color: black;
	text-align: left;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px; 
	border-color: #81559B;
	padding-left: 20px; 
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.cmdTable{
	font-family: "pixelHeader", Verdana, Tahoma;
	color: #E0D3DE;
	border: none;
	width: 100%;
	font-size:18px;
}
.cmdTable::selection{
	background-color: transparent;
	color: #B9D996;
}
.cmdTableName{
	filter: drop-shadow(0px 0px 3px #E0D3DE); 
}
/* .cmdTableName{
	filter: drop-shadow(0px 0px 3px #E0D3DE); 
} */
.iam-name{
	font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 50px;
	line-height: 100%;
	color: #81559B;
	text-shadow: -1px 1px 0px #B9D996;
}
.iam-text{
	font-family: "redhat", Verdana, Tahoma;
	height: 32px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	/* text-align: left; */
	/* padding-left:50px; */
	color: #E0D3DE;
	filter: drop-shadow(0px 0px 2px #E0D3DE);
}

p {
	color: #4b5563;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.006em;
	margin: 0;
	cursor: url("../../public/assets/cursor/textLight.cur"), auto;
	width: auto;
	text-align: center;
	padding: 0.5em 0;
}

p::selection{
	background-color: transparent;
	color: #B9D996;
}

h1::selection{
	background-color: transparent;
	color: #B9D996;
}

tr::selection{
	background-color: transparent;
	color: #B9D996;
}

img {
	/* TODO : doesn't work as intended */
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none; 
}
.nav-button{
    width: 100%;
    height: auto;
    outline: none;
    background-color:#81559B;
    font-family: "pixelHeader", Verdana, Tahoma;
	font-size: 22px;
	color: #14110F;
    border: none;
    border-radius: 8px;
	padding-top:10px;
	padding-bottom:10px;
    margin-top: 10px;
    filter: drop-shadow(-2px 3px 0 #E0D3DE);
}
.nav-button:hover{
    color: #E0D3DE;
}
.nav-button:active{
    transform: translate(-2px,2px);
	color: #E0D3DE;
    filter: drop-shadow(0px 0px 0 #E0D3DE);
}
.left-sidebar-wrapper{
    display: inline-flex;
	position:fixed;
	top: 15%;
  	left: 7%;
    flex-wrap: wrap;
    justify-content: center;
    width:15%;
	/* border-style: solid; */
	/* border-width: 2px; */
	/* border-radius: 8px;  */
	/* border-color: #81559B; */
	padding-left: 20px; 
	padding-right: 20px;
}

.flexTable {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 20px;
	height: fit-content;
	overflow-y: visible;
}

/* Clear floats after the columns */
.flexTable:after {
	content: "";
	display: table;
	clear: both;
}

.col-1 {
	flex-basis: calc(1 / 12 * 100%);
	display: absolute;
	height: 50%;
	align-items: center;
}

.col-2 {
	flex-basis: calc(2 / 12 * 100%);
}

.col-3 {
	flex-basis: calc(3 / 12 * 100%);
	align-items: center;
	justify-self: center;
	display: inline-block;
}

.col-4 {
	flex-basis: calc(4 / 12 * 100%);
}

.col-5 {
	flex-basis: calc(5 / 12 * 100%);
}

.col-6 {
	flex-basis: calc(6 / 12 * 100%);
}

.col-7 {
	flex-basis: calc(7 / 12 * 100%);
}

.col-8 {
	flex-basis: calc(8 / 12 * 100%);
}

.col-9 {
	flex-basis: calc(9 / 12 * 100%);
}

.col-10 {
	flex-basis: calc(10 / 12 * 100%);
}

.col-11 {
	flex-basis: calc(11 / 12 * 100%);
}

.col-12 {
	flex-basis: calc(12 / 12 * 100%);
}

.col-auto {
	flex: 1;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@keyframes cursor-blink2{
	0%   {
		background-color: black;
	}
	50% {background-color: #E0D3DE;}
}